*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}
body {
    line-height: 1.5;
    background-color: #000000;
    color: #ffffff;
}
body::before {
    content: "";
    background: url("ASSETS/bgimghd1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;    
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.container {
    color: #fff;
}
.home {
    height: 100vh;
}
.home>span>a {
    text-decoration: none;
    color: grey;
}
.home>span {
    background: transparent;
}
.home-h1{
    text-align: center;
    font-size: 50pt;
}
.home-h2{
    text-align: center;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons>a {
    background-color: #fff;
}
#skills {
    text-align: center;
    background-image: linear-gradient(rgb(58, 52, 52) , rgb(56, 50, 50));
    height: 400px;
}
label {
    text-align: justify;
}
label>li {
    margin: 5px;
}
.grid-skills {
    display: grid;
    grid-gap: 5px;
}
.grid-skills>div:nth-child(1) {
    background: linear-gradient(to right,orangered, gold, orangered);
    grid-row: 1/2;
    grid-column: 1/4;
    height: 100px;
}
.grid-skills>div:nth-child(2) {
    background-color: orangered;
}
.grid-skills>div:nth-child(3) {
    background: rgb(80,80,200);
    
}
.grid-skills>div:nth-child(4) {
  background:gold;
}
span {
    color: grey;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition:ease 1s;
}
span:hover {
    background: #fff;
    cursor: pointer;
}
.comments {
    background: linear-gradient(to right, rgb(18, 17, 119),rgb(24, 24, 226));
    height: 60vh;
}
.comments>h1 {
    padding: 20px;
}
form {
    margin: 20px;
}input {
    position: absolute;
    left: 100px;
}
input[name=Message] {
    width: 400px;
    height: 100px;
}
input[type=submit] {
    position: relative;
    top: 100px;
    left: 70px;
    padding: 10px;
    width: 100px;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #fff;
}
input[type=submit]:hover {
    background: #fff;
    color: grey;
}
.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    background: black;
}
.portfolio img {
    border: none;
    margin: 20px; 
    transition: 0.5s;
    width: 225px;
    height: 150px;
    opacity: 0.1;
}
.portfolio img:hover {
    width: 450px;
    height: 300px;
    opacity: 1;
}
#portfolio-head {
    text-align: center;
    background-image:linear-gradient(to left,black,white);
    text-transform: uppercase;
}
#about-me {
    color: rgb(255, 255, 255);
    text-align: center;
}
#about-me>h1 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}